.news {
	padding-bottom: 21px;
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
	}
	&__item {
		grid-column: 3 span;
		min-height: 360px;
		border-radius: 10px;
		background: var(--white-color);
		overflow: hidden;
		display: block;
		text-decoration: none;
	}
	&__content {
		padding: 20px;
	}
	&__date {
		color: #9f9f9f;
		font-size: 13px;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 24px;
	}
	&__title {
		color: var(--black-color);
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
	}
}

@media (max-width: 1024px) {
	.news {
		&__container {
			max-width: 700px;
		}
		&__list {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

@media (max-width: 550px) {
	.news {
		&__container {
			max-width: 360px;
		}
		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
