:root {
	// base
	--font-family: "PT Sans", sans-serif;
	--second-family: "Golos Text", sans-serif;
	--third-family: "Open Sans", sans-serif;
	--content-width: 1400px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #000;
	--light-blue-color: #2e58bd;
	--blue-color: #26448c;
	--light-grey-color: #f2eeee;
	--grey-color: #636161;
	--dark-grey-color: #6d7380;
	--border-color: rgba(225, 83, 53, 0.1);
	--dark-type-color: #7886a6;
	--light-type-color: #a2b1d1;
}
